<h1 class="login-register-title"><%= title %></h1>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="login-register-container">
  <form class="form" id="registerForm" action="/account/register" method="post">
    <label for="user-firstname">First name:</label>
    <input type="text" name="account_firstname" id="user-firstname" required value="<%= locals.account_firstname %>">

    <label for="user-lastname">Last name:</label>
    <input type="text" name="account_lastname" id="user-lastname" required value="<%= locals.account_lastname %>">

    <label for="user-email">Email address:</label>
    <input type="email" name="account_email" id="user-email" required value="<%= locals.account_email %>">

    <label for="user-password">Password:</label>
    <input type="password" name="account_password" id="user-password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
    <div class="pwd-criteria">
        <ul>
            <li class="invalid length">Password should be 12 characters minimum</li>
            <li class="invalid uppercase">Contain at least 1 capital letter</li>
            <li class="invalid digit">Contain at least 1 number</li>
            <li class="invalid specialCase">Contain at least 1 special character</li>
        </ul>
      </div>
    <span id="showpwd">Show password</span>
    <button type="submit">Register</button>
  </form>
</div>
<script src="/js/script.js" type="module"></script>